@import "variables";

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,San Francisco,Helvetica Neue,Helvetica,Ubuntu,Roboto,Noto,Segoe UI,Arial,sans-serif;
}

.container {
  padding: 0 20px;
}

.swiper-slide {
  width: auto !important;
  font-size: 14px;
  display: flex;
  align-items: center;

  &:first-child {
    padding-left: 32px !important;
  }

  &:last-child {
    margin-right: 32px !important;
  }

  a {
    &:hover {
      color: $black !important;
    }
  }
}
